/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 60px;
  }

  .heading h2 {
    font-size: 40px;
  }

  .heading h3 {
    font-size: 35px;
  }

  .text-contents {
    width: 50%;
    display: inline-block;
    margin-top: 4px;
    font-size: 25px;
    color: #b3aeb5;
  }


  .menu-icon {
    display: block;
  }

  .footer-right {
    width: 150px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .text-contents {
    width: 30%;
    display: inline-block;
    margin-top: 4px;
    font-size: 25px;
    color: #b3aeb5;
  }

  .lesson {
    width: 100%;
  }

  footer {
    height: 350px;
  }

  .footer-left {
    margin-top: 20px;
  }

  .footer-left-desc {
    margin-top: 20px;
  }

  .footer-right p {
    line-height: 10px;
    clear: right;
  }

  .header-right a {
    padding: 0 5px;
  }

  .header-left-child a {
    padding: 0 5px;
  }

  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}

.logo {
  width: 100px;
}